.mainClass
{
    border: 2px solid rgb(231, 227, 227);
    margin: auto;
    width: 330px;
    height: 400px;
    margin-top: 30px;
}
.header
{
    text-align: center;
    color: rgb(13, 155, 13);
}
.calci
{
    margin-top: 25px;
    margin-left: 35px;
    width: 250px;
    height: 30px;
}
.box
{
    border: 2px solid  rgb(247, 239, 239);
    border-radius: 9px;
    margin: 10px;
    width: 40px;
    height: 40px;
}
.grid_layout
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 20px;   
}